*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("/images/bg.png");
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    color: white;
    font: 30px;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input{
    height: 45px;
    border: none;
    width: 87%;
    outline: none;
    border-radius: 50px;
    color: white;
    padding: 0 0 0 47px;
    background: rgba(255, 255, 255, 0.3);
}
img{
    position: relative;
    top: -39px;
    left: 17px;
    color: white;
    margin-right: 20px;
}
::-webkit-input-placeholder{
    color: white;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 900;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    box-shadow: 1px 5px 7 1px rgba(0, 0, 0, 0.2);
    transition: .5s;
    color: #2691d9;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: white;
    margin-bottom: 10px;
}
.left{
    display: flex;
}
label a{
    color: white;
    text-decoration: none;
    text-decoration: underline;
}
label a:hover{
    text-decoration: underline;
}
.center{
    margin: 30px 0;
    text-align: center;
    font-size: 12px;
    color: white;
}
.center a{
    color: #2691d9;
    text-decoration: none;
}
.center a:hover{
    text-decoration: underline;
}

